<h1>Timeline</h1>
<ul class="posts">
  {{#each posts}}
  <li>
      <p>{{this.message}}</p>
      <p>{{this.likes}} likes</p>
      <form action="/posts/{{this._id}}/like" method="post">
          <input type="submit" value="Like" class="like-button">
      </form>

      <form action="/posts/{{this._id}}/unlike" method="post" style="display: inline;">
          <input type="submit" value="Unlike" class="unlike-button">
      </form>
      <form action="/posts/{{this._id}}/delete" method="post" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this post?');">
          <input type="submit" value="Delete" class="delete-button">
      </form>
      
  </li> 
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>

<div class="logout-container">
    <form action='/sessions?_method=DELETE' method='POST'>
        <input type="submit" value="Log Out" class="logout-button">
    </form>
</div>
